


* {
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
}

.banner {
    display: none;
}

header {
    padding: 40px 40px 30px;
    font-family: Times 'Times New Roman', Times, serif;
    font-size: 60px;
    color: white;
    line-height: 44px;
}
.img-info {
    width: 100%;
}


.img-info h2 {
    padding: 30px 30px 20px;
    font-family: arial;
    font-size: 35px;
    color: white;
    line-height: 44px;

}
.img-info p {
    padding: 0px 30px 20px;
    font-family: arial;
    font-size: 16px;
    line-height: 24px;
    color: white;

}

.dlq {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .banner {
        display: block;
        width: 100%;
        padding-bottom: 30px;
        padding-top: 30px;
         }
         .wrapper{
            width: 600px;
            margin: 0 auto;
        
        }
     
        .img-info h2 {
            padding: 20px 0px 0px;
            color: white;
            
        }     
        .img-info p {
            padding: 20px 0px 0px;
            color: white;
            
        } 
        .dlq {
            padding-top: 30px;

        }

  
}
@media only screen and (min-width: 1000px) {
   
   
    .wrapper{
        width: 1000px;
        
    }
    .img-info {
        width: 50%;
        float: right;
    }
    .img-info h2 {
        padding: 20px 0px 0px 30px;
        color: white;
        
    }     
    .img-info p {
        padding: 20px 0px 0px 30px;
      color: white;
        
    }
    .dlq {
        padding-top: 0px;
        width: 50%;
        float: left;

    }
 
}

.wrapper2{
    width: 100%;
}
.img-info2 {
    width: 100%;
}

.img-info2 h2 {
    padding: 30px 30px 20px;
    font-family: arial;
    font-size: 35px;
    color: #111;
    line-height: 44px;
    color: white;
}
.img-info2 p {
    padding: 0px 30px 20px;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 24px;
    color: white;

}
.locus {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    
         .wrapper2{
            width: 600px;
            margin: 0 auto;
        
        }
     
        .img-info2 h2 {
            color: white;
            padding: 20px 0px 0px;
            
        }     
        .img-inf02 p {
            padding: 20px 0px 0px;
            color: white;
            
        } 
        .locus {
            padding-top: 30px;

        }

}

@media only screen and (min-width: 1000px) {
   
   
    .wrapper2{
        width: 1000px;
        
    }
    .img-info2 {
        width: 50%;
        float: left;
    }
    .img-info2 h2 {
        padding: 20px 0px 0px 30px;
        color: white;
        
    }     
    .img-info2 p {
        padding: 20px 0px 0px 30px;
        color: white;
        
    }
    .locus {
        padding-top: 0px;
        width: 50%;
        float: right;

    }
 
}
body {
    background-image: url('images/ww.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}




 













